In [1]:
import tabula
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_colwidth', None)
tabula.convert_into("2021_merged.pdf","output.csv",output_format="csv", pages='all')
df = pd.read_csv("output.csv")
dfs = pd.DataFrame(df,columns=["Txn Date", "Value Date","Description" ,"Ref No./ChequeNo.", "Debit","Credit", "Balance"])

dfs

Got stderr: Jun 10, 2022 12:26:17 PM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for .notdef (9) in font Helvetica
Jun 10, 2022 12:26:17 PM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for .notdef (9) in font Helvetica
Jun 10, 2022 12:26:19 PM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for .notdef (9) in font Helvetica
Jun 10, 2022 12:26:20 PM org.apache.pdfbox.rendering.Type1Glyph2D getPathForCharacterCode
WARNING: No glyph for code 9 (.notdef) in font Helvetica

,Txn Date,Value Date,Description,Ref No./ChequeNo.,Debit,Credit,Balance
0,7 Feb 2020,NaN,CASH DEPOSIT-CASH\rDEPOSIT SELF-,NaN,NaN,"3,000.00","3,000.00"
1,9 Mar 2020,NaN,BY TRANSFER-\rUPI/CR/006919145481/R\rROHIT\r./SBIN/rur209@oks/UPI-,NaN,NaN,200.00,"3,200.00"
2,9 Mar 2020,NaN,BY TRANSFER-\rUPI/CR/006919418140/RAJES\rH R/SBIN/rkbasantbe/Gift-,NaN,NaN,50.00,"3,250.00"
3,9 Mar 2020,NaN,TO TRANSFER-\rUPI/DR/006920530035/AMOOL\rYA /CNRB/amoolyakul/To ge-,NaN,150.00,NaN,"3,100.00"
4,9 Mar 2020,NaN,BY TRANSFER-\rUPI/REV/006920530035-,NaN,NaN,150.00,"3,250.00"
...,...,...,...,...,...,...,...
488,26 Mar\r2021,NaN,TO TRANSFER-\rUPI/DR/108560257639/Neelu\rDa/PYTM/paytmqr281/Payme-,NaN,110.00,NaN,"8,040.10"
489,29 Mar\r2021,NaN,TO TRANSFER-\rUPI/DR/108849959386/J\rKITCHEN/FDRL/BHARATPE.9/\rPaym-,NaN,20.00,NaN,"8,020.10"
490,29 Mar\r2021,NaN,TO TRANSFER-\rUPI/DR/108861826634/Bomba\ry\rD/YESB/Q40149070@/Payme-,NaN,236.00,NaN,"7,784.10"
491,31 Mar\r2021,NaN,TO TRANSFER-\rUPI/DR/109020935324/IRCTC\rWe/PYTM/paytm-irct/Oid10-,NaN,221.80,NaN,"7,562.30"
492,31 Mar\r2021,NaN,BY TRANSFER-\rUPI/CR/109005020421/Amooly\ra /SBIN/8867253191/Payme-,NaN,NaN,260.00,"7,822.30"

In [3]:
# Removing the row with item named Description in its row not header
dfs.drop(dfs.index[df["Description"] == "Description"], inplace=True)
dfs

,Txn Date,Value Date,Description,Ref No./ChequeNo.,Debit,Credit,Balance
0,7 Feb 2020,NaN,CASH DEPOSIT-CASH\rDEPOSIT SELF-,NaN,NaN,"3,000.00","3,000.00"
1,9 Mar 2020,NaN,BY TRANSFER-\rUPI/CR/006919145481/R\rROHIT\r./SBIN/rur209@oks/UPI-,NaN,NaN,200.00,"3,200.00"
2,9 Mar 2020,NaN,BY TRANSFER-\rUPI/CR/006919418140/RAJES\rH R/SBIN/rkbasantbe/Gift-,NaN,NaN,50.00,"3,250.00"
3,9 Mar 2020,NaN,TO TRANSFER-\rUPI/DR/006920530035/AMOOL\rYA /CNRB/amoolyakul/To ge-,NaN,150.00,NaN,"3,100.00"
4,9 Mar 2020,NaN,BY TRANSFER-\rUPI/REV/006920530035-,NaN,NaN,150.00,"3,250.00"
...,...,...,...,...,...,...,...
488,26 Mar\r2021,NaN,TO TRANSFER-\rUPI/DR/108560257639/Neelu\rDa/PYTM/paytmqr281/Payme-,NaN,110.00,NaN,"8,040.10"
489,29 Mar\r2021,NaN,TO TRANSFER-\rUPI/DR/108849959386/J\rKITCHEN/FDRL/BHARATPE.9/\rPaym-,NaN,20.00,NaN,"8,020.10"
490,29 Mar\r2021,NaN,TO TRANSFER-\rUPI/DR/108861826634/Bomba\ry\rD/YESB/Q40149070@/Payme-,NaN,236.00,NaN,"7,784.10"
491,31 Mar\r2021,NaN,TO TRANSFER-\rUPI/DR/109020935324/IRCTC\rWe/PYTM/paytm-irct/Oid10-,NaN,221.80,NaN,"7,562.30"
492,31 Mar\r2021,NaN,BY TRANSFER-\rUPI/CR/109005020421/Amooly\ra /SBIN/8867253191/Payme-,NaN,NaN,260.00,"7,822.30"

In [4]:
# Retrieving only the not null Debit card section
dfs = dfs[pd.notnull(dfs["Debit"])]
dfs

,Txn Date,Value Date,Description,Ref No./ChequeNo.,Debit,Credit,Balance
3,9 Mar 2020,NaN,TO TRANSFER-\rUPI/DR/006920530035/AMOOL\rYA /CNRB/amoolyakul/To ge-,NaN,150.00,NaN,"3,100.00"
6,10 Mar\r2020,NaN,TO TRANSFER-\rUPI/DR/006923424341/AMOOL\rYA /CNRB/amoolyakul/To ge-,NaN,150.00,NaN,"3,200.00"
10,11 Mar\r2020,NaN,TO TRANSFER-\rUPI/DR/007108332148/BHAGY\rASH/KARB/bhagyashre/Rever-,NaN,500.00,NaN,"4,350.00"
13,11 Mar\r2020,NaN,TO TRANSFER-\rUPI/DR/007117911897/AMRUT\rHA R/CORP/amrutha123/UPI-,NaN,556.00,NaN,"4,294.00"
15,12 Mar\r2020,NaN,TO TRANSFER-\rUPI/DR/007213199828/Udit\rKu/SBIN/vikramsing/Compe-,NaN,600.00,NaN,"3,994.00"
...,...,...,...,...,...,...,...
486,22 Mar\r2021,NaN,TO TRANSFER-\rUPI/DR/108122776491/FriedSa\rn/YESB/Q43034533@/Payme-,NaN,80.00,NaN,"8,099.10"
488,26 Mar\r2021,NaN,TO TRANSFER-\rUPI/DR/108560257639/Neelu\rDa/PYTM/paytmqr281/Payme-,NaN,110.00,NaN,"8,040.10"
489,29 Mar\r2021,NaN,TO TRANSFER-\rUPI/DR/108849959386/J\rKITCHEN/FDRL/BHARATPE.9/\rPaym-,NaN,20.00,NaN,"8,020.10"
490,29 Mar\r2021,NaN,TO TRANSFER-\rUPI/DR/108861826634/Bomba\ry\rD/YESB/Q40149070@/Payme-,NaN,236.00,NaN,"7,784.10"
491,31 Mar\r2021,NaN,TO TRANSFER-\rUPI/DR/109020935324/IRCTC\rWe/PYTM/paytm-irct/Oid10-,NaN,221.80,NaN,"7,562.30"

In [5]:
# Keeping only required data
data=dfs.drop(['Credit',"Value Date","Ref No./ChequeNo.","Balance"], axis = 1)
data.tail(50)
data.shape

(283, 3)

In [6]:
import re
b=[]
def splitz(x):
    if "by debit card-OTHPOS" in x:
        b=re.split(r'by debit card-OTHPOS[0-9]+[\s]*',x)
        return (b[1])
    elif "by debit card-OTHPG" in x:
        x = x.replace('\r','')
        b=re.split(r'by debit card-OTHPG[\s]*[0-9]+[\s]*',x)
        print(b)
        return (b[1])
    elif "by debit card-SBIPG" in x:
        b=re.split(r'by debit card-SBIPG[\s][a-zA-Z]?[a-zA-Z]?[0-9]{10,12}',x)
        return (b[1])
    elif "TO TRANSFER" in x:
        if "UPI" in x:
            x = x.replace('\r','')
            x = x.replace(' ','')
            b=re.split(r'TOTRANSFER[^\s]UPI/DR/[0-9]+/([A-Za-z0-9.]+)/',x)
            print(b)
            return b[1]
    else:
        return (0)

In [7]:
data["Description"]=data["Description"].apply(splitz)

['', 'AMOOLYA', 'CNRB/amoolyakul/Toge-']
['', 'AMOOLYA', 'CNRB/amoolyakul/Toge-']
['', 'BHAGYASH', 'KARB/bhagyashre/Rever-']
['', 'AMRUTHAR', 'CORP/amrutha123/UPI-']
['', 'UditKu', 'SBIN/vikramsing/Compe-']
['', 'UditKu', 'SBIN/vikramsing/Compe-']
['', 'RAJESHR', 'SBIN/rajeshkul3/UPI-']
['', 'BHAGYASH', 'KARB/bhagyashre/UPI-']
['', 'BHAVYAB', 'SBIN/bhavyal000/movie-']
['', 'BHAVYAB', 'SBIN/bhavyal000/UPI-']
['', 'BHAVYAB', 'SBIN/bhavyal000/lava-']
['', 'NARAYANA', 'PYTM/paytmqr281/UPI-']
['', 'LAVAKUM', 'BARB/lavakumar./UPI-']
['', 'flipkart', 'HDFC/flipkart.p/UPIT-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'KaranKu', 'SBIN/8296026991/Payme-']
['', 'JITENDRA', 'PYTM/paytmqr281/Payme-']
['', 'VeenaR', 'PYTM/paytmqr281/Paymen-']
['', 'VeenaR', 'PYTM/paytmqr281/Paymen-']
['', 'ROYSUPE', 'BARB/Q63988947@/Payme-']
['', 'Flipkart', 'YESB/fkrt@ybl/UPI-']
['', 'goDutch', 'SBIN/godutchtec/goDut-']
['', 'SRIRUDR', 'BARB/anil.rudre/UPI-']
['', '5StarC', 'PYTM/paytmqr281/Payme-']
['', 'AKASHKU', 'SBIN/chegg2@ybl/UPI-']
['', 'KARTHICK', 'SBIN/9738352424/Payme-']
['', 'PhonePe', 'YESB/EURONET@yb/Paymen-']
['', 'BHAVYAB', 'SBIN/bhavyal000/proje-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'NeeluDa', 'PYTM/paytmqr281/Payme-']
['', 'AKASHBI', 'PYTM/akshpaytm@/Payme-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'PayuPay', 'HDFC/yellowqr.0/Payme-']
['', 'DHRUVIMG', 'KKBK/9482552177/Pay-']
['', 'McDonalds', 'YESB/MCDONALDSI/Paym-']
['', 'BHAVYAB', 'SBIN/8169508343/Payme-']
['', 'JAR', 'PYTM/paytm-6320/Oid62065-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'MANGALA', 'YESB/Q279873314/Paymen-']
['', 'CMCFU', 'PYTM/paytmqr281/Payme-']
['', 'BHAVYAB', 'SBIN/8169508343/Payme-']
['', 'Reliance', 'YESB/RELIANCEFR/Payme-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'BHAVYAB', 'SBIN/8169508343/Payme-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'PAPANNA', 'FDRL/BHARATPE.9/Verif-']
['', 'airtel', 'UTIB/airtel.pay/UPITran-']
['', 'Flipkart', 'YESB/FKRT@ybl/Payment-']
['', 'BHAVYAB', 'SBIN/bhavyal000/Home-']
['', 'ROYSUPE', 'BARB/Q93051454@/Payme-']
['', 'KISHORE', 'KARB/getkishore/induc-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'KISHORE', 'KARB/getkishore/essen-']
['', 'KISHORE', 'KARB/getkishore/sciss-']
['', 'Suvasra', 'PYTM/paytmqr281/Payme-']
['', 'KISHORE', 'KARB/getkishore/Inter-']
['', 'Faasos', 'YESB/FAASOSINAP/Payment-']
['', 'PIYUSHA', 'BARB/piyusharya/UPI-']
['', 'CHANNAKE', 'KARB/keshavaram/UPI-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'ShobhaKS', 'PYTM/paytmqr281/Pay-']
['', 'BHAVYAB', 'SBIN/8169508343/Payme-']
['', 'BHAVYAB', 'SBIN/8169508343/Payme-']
['', 'BHAVYAB', 'SBIN/8169508343/Payme-']
['', 'SRNAGA', 'FDRL/BHARATPE.9/Payt-']
['', 'SURESHAP', 'PYTM/paytmqr281/Pay-']
['', 'BHAVYAB', 'SBIN/8169508343/Payme-']
['', 'Razorpay', 'ICIC/zomatoindi/Zomat-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'SURESHAP', 'PYTM/paytmqr281/Pay-']
['', 'Neerajk', 'PYTM/paytmqr281/Payme-']
['', 'AISHWARY', 'PYTM/paytmqr281/Payme-']
['', 'BHAVYAB', 'SBIN/8169508343/Payme-']
['', 'IRCTCWe', 'PYTM/paytm-6515/Oid10-']
['', 'SHAIKSU', 'YESB/Q85759432@/Payme-']
['', 'SRIBALA', 'PYTM/paytmqr281/Payme-']
['', 'SRIBALA', 'PYTM/paytmqr281/Payme-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'NoviDigi', 'SBIN/novidigita/Hotst-']
['', 'Razorpay', 'ICIC/airtelin.r/AIRTE-']
['', 'AirtelH', 'UTIB/airtelin.r/AIRTE-']
['', '14129310', 'kkbk/1412931098/Refun-']
['', 'BHAGYASH', 'KARB/bhagyashre/1st-']
['', 'KISHORE', 'KARB/getkishore/rent-']
['', 'TATASKY', 'HDFC/billdeskbq/UPI-']
['', 'Dominos', 'PYTM/dominospiz/Payme-']
['', 'BHAGYASH', 'KARB/9421163836/Payme-']
['', 'Arvind', 'PYTM/paytmqr281/Payment-']
['', 'RUTVIKH', 'SBIN/7405332907/Payme-']
['', 'yatraonl', 'INDB/yatra1@ind/UpiT-']
['', 'SHYLAJA', 'CNRB/9964496639/Payme-']
['', 'SHYLAJA', 'CNRB/9964496639/Payme-']
['', 'RAJKISH', 'SBIN/raj2121kis/Payme-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'Kishore', 'HDFC/6362373170/UPI-']
['', 'BHAVYAB', 'SBIN/8169508343/UPI-']
['', 'BHAVYAB', 'SBIN/8169508343/UPI-']
['', 'AMAZONPA', 'UTIB/amazonupi@/Reque-']
['', 'BHAVYAB', 'SBIN/8169508343/UPI-']
['', 'BHAVYAB', 'SBIN/8169508343/UPI-']
['', 'KISHORE', 'KARB/6362373170/UPI-']
['', 'ANILKUM', 'UBIN/Q79899540@/Payme-']
['', 'BHAVYAB', 'SBIN/8169508343/UPI-']
['', 'Mohammad', 'PYTM/paytmqr281/Payme-']
['', 'Razorpay', 'SBIN/razor.pay@/Payme-']
['', 'SRINIVASA', 'KARB/Q53066953@/Paym-']
['', 'Flipkart', 'YESB/FKRT@ybl/Payment-']
['', 'BHAVYAB', 'SBIN/8169508343/Payme-']
['', 'NeeluDa', 'PYTM/paytmqr281/UPI-']
['', 'BHAVYAB', 'SBIN/8169508343/UPI-']
['', 'BHAVYAB', 'SBIN/8169508343/UPI-']
['', 'KISHORE', 'KARB/6362373170/UPI-']
['', 'BHAVYAB', 'SBIN/8169508343/UPI-']
['', 'ANILKUM', 'UBIN/Q79899540@/Payme-']
['', 'BHAVYAB', 'SBIN/8169508343/UPI-']
['', 'BHAVYAB', 'SBIN/8169508343/UPI-']
['', 'BHAVYAB', 'SBIN/8169508343/Zomat-']
['', 'Razorpay', 'SBIN/razor.pay@/Softo-']
['', 'BHAVYAB', 'SBIN/8169508343/UPI-']
['', 'AKBARAL', 'SBIN/grestauran/Payme-']
['', 'ROYSUPE', 'BARB/Q93051454@/Payme-']
['', 'YULUBIKES', 'YESB/YULUBIKES@/Pay-']
['', 'YULUBIKES', 'YESB/YULUBIKES@/Pay-']
['', 'YULUBIKES', 'YESB/YULUBIKES@/Pay-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'SACHINK', 'PYTM/paytmqr281/Payme-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'MANOHAR', 'SBIN/mr19kulkar/First-']
['', 'RAJESHR', 'SBIN/rajeshkul3/First-']
['', 'BHAGYASH', 'KARB/bhagyashre/First-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'MrsSHAI', 'YESB/q552652991/UPI-']
['', 'SURESHAP', 'PYTM/paytmqr281/Pay-']
['', 'JarSav', 'YESB/JARMYJARON/Colle-']
['', 'JAR', 'PYTM/paytm-6320/Payment-']
['', 'KISHORE', 'KARB/getkishore/yewa-']
['', 'RAZORPAY', 'AIRP/razorpay@m/Payme-']
['', 'Mamatha', 'PYTM/paytmqr281/Paymen-']
['', 'EatSure', 'PYTM/paytm-5972/Oidb4-']
['', 'MAHESHK', 'PYTM/paytmqr281/Payme-']
['', 'JAR', 'PYTM/paytm-6320/Payment-']
['', 'KISHORE', 'KARB/6362373170/UPI-']
['', 'Swiggy', 'UTIB/swiggyupi@/Swiggy-']
['', 'BHAVYAB', 'SBIN/8169508343/Payme-']
['', 'BHAVYAB', 'SBIN/8169508343/Payme-']
['', 'Everyday', 'PYTM/paytmqr281/Payme-']
['', 'Everyday', 'PYTM/paytmqr281/Payme-']
['', 'SURESHAP', 'PYTM/paytmqr281/Pay-']
['', 'VOGO', 'YESB/VOGOONLINE/Payment-']
['', 'Madhu', 'UTIB/gpay-11194/Payment-']
['', 'SRIANNA', 'YESB/Q049574033/Payme-']
['', 'Razorpay', 'ICIC/airtelin.r/AIRTE-']
['', 'KISHORE', 'KARB/getkishore/2ndM-']
['', 'VINAYAK', 'PYTM/paytmqr281/Payme-']
['', 'BHARGAVI', 'SBIN/7899658035/Payme-']
['', 'SURESHAP', 'PYTM/paytmqr281/Pay-']
['', 'REDCHIL', 'YESB/Q53753905@/Payme-']
['', 'LAVAKUM', 'BARB/lavakumar./Payme-']
['', 'JarSav', 'YESB/JARMYJARON/Colle-']
['', 'tatacliq', 'UTIB/tatacliq.p/Tata-']
['', 'ALI', 'PYTM/paytm-6751/Oid31016-']
['', 'TATASKY', 'HDFC/billdeskbq/Payme-']
['', 'HonasaC', 'UTIB/mamaearth@/Colle-']
['', 'DOMINOS', 'HDFC/dominospiz/Payme-']
['', 'SHAIKSU', 'YESB/Q65655845@/Payme-']
['', 'EatSure', 'PYTM/paytm-5972/Oidre-']
['', 'ZomatoLtd', 'PYTM/zomato-ord/Oid-']
['', 'NEWMYSO', 'PYTM/paytmqr281/Payme-']
['', 'BHAVYAB', 'SBIN/bhavyal000/UPI-']
['', 'Sanghvi', 'utib/myglamm.pa/UPIT-']
['', 'BHAVYAB', 'SBIN/8169508343/UPI-']
['', 'JEEVANMH', 'UBIN/mhjeevan-1/UPI-']
['', 'AMAZONPA', 'UTIB/amazonupi@/Reque-']
['', 'JAR', 'PYTM/paytm-6320/Payment-']
['', 'VedantS', 'PYTM/paytmqr281/Payme-']
['', 'EatSure', 'PYTM/paytm-5972/Payme-']
['', 'EatSure', 'PYTM/paytm-5972/Payme-']
['', 'AKASHBI', 'PYTM/akshpaytm@/Payme-']
['', 'ZomatoO', 'ICIC/zomatoonli/Zomat-']
['', 'VedantS', 'PYTM/paytmqr281/Payme-BharatEnterpriseicic']
['', 'BHAVYAB', 'SBIN/8169508343/Payme-bkoteswararao']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'ZomatoLtd', 'PYTM/zomato-ord/Zom-']
['', 'EatSure', 'PYTM/paytm-5972/Payme-']
['', 'ANIKETR', 'FDRL/9767060316/ADDMO-']
['', 'SURESHAP', 'PYTM/paytmqr281/Sen-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'ZomatoO', 'ICIC/zomatoonli/Zomat-']
['', 'ANIKETR', 'FDRL/9767060316/ADDMO-']
['', 'ranganat', 'PYTM/paytmqr281/UPI-']
['', 'TAVIJA', 'PYTM/paytmqr281/UPI-']
['', 'TATASKY', 'HDFC/billdeskbq/Tata-']
['', 'TATASKY', 'HDFC/billdeskbq/Tata-']
['', 'DataPri', 'UTIB/gpay-11172/Xerox-']
['', 'BhartiA', 'SBIN/bhartiairt/Payme-']
['', 'BPCLSHR', 'YESB/Q24910877@/Petro-']
['', 'AmoghPe', 'YESB/Q08552107@/Petro-']
['', 'RUTVIKH', 'SBIN/rutvik07.r/UPI-']
['', 'TATASKY', 'HDFC/billdeskbq/Payme-']
['', 'TATASKY', 'HDFC/billdeskbq/UPI-']
['', 'AMAZON', 'UTIB/amazon@apl/Youare-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'BHAGYASH', 'KARB/bhagyashre/UPI-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'BHAGYASH', 'KARB/bhagyashre/UPI-']
['', 'BHAGYASH', 'KARB/bhagyashre/UPI-']
['', 'BHAGYASH', 'KARB/bhagyashre/UPI-']
['', 'flipkart', 'UTIB/flipkart.p/UPIT-']
['', 'BHAGYASH', 'KARB/bhagyashre/UPI-']
['', 'ARCHISN', 'HDFC/arnithtera/UPI-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'KISANSU', 'IBKL/q30653826@/UPI-']
['', 'KISHORE', 'KARB/getkishore/UPI-']
['', 'BHAGYASH', 'KARB/bhagyashre/UPI-']
['', 'BHAGYASH', 'KARB/bhagyashre/UPI-']
['', 'BHAGYASH', 'KARB/bhagyashre/UPI-']
['', 'EURONETG', 'ICIC/euronetgpa/UPI-']
['', 'Flipkart', 'PYTM/paytm-5650/Flipk-']
['', 'SHREESI', 'PYTM/paytmqr281/UPI-']
['', 'TATASKY', 'HDFC/billdeskbq/UPI-']
['', 'APOLLOH', 'YESB/APOLLOENTE/Payme-']
['', 'pradipp', 'AIRP/a162573r@m/Payme-']
['', 'RAJESHR', 'SBIN/9767260689/Payme-']
['', 'RAJESHR', 'SBIN/9767260689/Payme-']
['', 'TATASKY', 'HDFC/billdeskbq/UPI-']
['', 'TATASKY', 'HDFC/billdeskbq/UPI-']
['', 'PAYU MONEY0124305400-']
['', 'TATASKY', 'HDFC/billdeskbq/UPI-']
['', 'MrsMAN', 'YESB/bharatpe90/Verif-']
['', 'MARUTHID', 'YESB/bharatpe90/Verif-']
['', 'MrsMAN', 'YESB/bharatpe90/Verif-']
['', 'MrsMAN', 'YESB/bharatpe90/Verif-']
['', 'BSHANTH', 'IOBA/bshantheri/Mini-']
['', 'NARASIMH', 'FDRL/bharatpe.9/Verif-']
['', 'BhartiA', 'SBIN/bhartiairt/Payme-']
['', 'shekar', 'PYTM/paytmqr281/Payment-']
['', 'Mohammad', 'PYTM/paytmqr281/juice-']
['', 'BharatPe', 'YESB/bharatpe90/Verif-']
['', 'FoodAnd', 'UTIB/gpay-11182/UPI-']
['', 'Ayyappa', 'PYTM/paytmqr281/Payme-']
['', 'NEWUDUPI', 'FDRL/BHARATPE.9/Payme-']
['', 'NEWSELF', 'PYTM/paytmqr281/Payme-']
['', 'Capital', 'UTIB/gpay-11184/UPI-']
['', 'Lassishop', 'PYTM/paytmqr281/Pay-']
['', 'Anilkumar', 'PYTM/paytmqr281/Pay-']
['', 'BHAVYAB', 'SBIN/bhavyal000/UPI-']
['', 'AMEENN', 'SBIN/syedameen7/UPI-']
['', 'SRIVENK', 'PYTM/paytmqr281/Payme-']
['', 'IRCTCWe', 'PYTM/paytm-irct/Oid10-']
['', 'KIRANKU', 'CNRB/8494850940/Payme-']
['', 'Ayyappa', 'PYTM/paytmqr281/UPI-']
['', 'Coffeee', 'PYTM/paytmqr281/UPI-']
['', 'Capital', 'UTIB/gpay-11184/UPI-']
['', 'SHREESH', 'PYTM/paytmqr281/Payme-']
['', 'UDAYAKU', 'PYTM/Q08492003@/Payme-']
['', 'FriedSan', 'YESB/Q43034533@/Payme-']
['', 'NeeluDa', 'PYTM/paytmqr281/Payme-']
['', 'JKITCHEN', 'FDRL/BHARATPE.9/Paym-']
['', 'BombayD', 'YESB/Q40149070@/Payme-']
['', 'IRCTCWe', 'PYTM/paytm-irct/Oid10-']

In [8]:
data.head(50)

        Txn Date Description      Debit
3     9 Mar 2020     AMOOLYA     150.00
6   10 Mar\r2020     AMOOLYA     150.00
10  11 Mar\r2020    BHAGYASH     500.00
13  11 Mar\r2020    AMRUTHAR     556.00
15  12 Mar\r2020      UditKu     600.00
17  12 Mar\r2020      UditKu     100.00
21  11 Dec\r2021     RAJESHR   2,000.00
22  11 Dec\r2021    BHAGYASH   2,000.00
24  14 Dec\r2021     BHAVYAB     304.00
25  15 Dec\r2021     BHAVYAB     300.00
27  15 Dec\r2021     BHAVYAB     300.00
28  16 Dec\r2021    NARAYANA     180.00
31  16 Dec\r2021     LAVAKUM     400.00
34  27 Dec\r2021    flipkart     699.00
35  27 Dec\r2021     KISHORE      35.00
38  31 Dec\r2021     KaranKu      30.00
39  31 Dec\r2021    JITENDRA      25.00
40  31 Dec\r2021      VeenaR      64.00
41  31 Dec\r2021      VeenaR     188.00
42  31 Dec\r2021     ROYSUPE     310.00
43  31 Dec\r2021    Flipkart     188.00
44    2 Jan 2022     goDutch      29.75
48    3 Jan 2022     SRIRUDR     700.00
52    5 Jan 2022      5StarC      45.00
55  10 Jan\r2022     AKASHKU      40.00
56  11 Jan\r2022    KARTHICK     160.00
58  14 Jan\r2022     PhonePe     481.00
60  22 Jan\r2022     BHAVYAB      35.00
61  28 Jan\r2022     KISHORE      88.00
63  31 Jan\r2022     NeeluDa      40.00
64  31 Jan\r2022     AKASHBI      20.00
65  31 Jan\r2022     KISHORE   1,000.00
68    4 Feb 2022     PayuPay      52.00
69    5 Feb 2022    DHRUVIMG     110.00
71    7 Feb 2022   McDonalds     164.00
72    9 Feb 2022     BHAVYAB     129.00
73  11 Feb\r2022         JAR      10.00
74  14 Feb\r2022     KISHORE      50.00
78  24 Feb\r2022     MANGALA     410.00
81  24 Feb\r2022       CMCFU     390.00
82    3 Mar 2022     BHAVYAB      40.00
83    3 Mar 2022    Reliance     299.00
84    4 Mar 2022     KISHORE     100.00
86    9 Mar 2022     BHAVYAB     183.00
87    9 Mar 2022     KISHORE     470.00
88  10 Mar\r2022     PAPANNA     100.00
89  13 Mar\r2022      airtel     479.00
90  13 Mar\r2022    Flipkart   1,909.00
92  13 Mar\r2022     BHAVYAB  10,000.00
93  13 Mar\r2022     ROYSUPE     799.00

In [9]:
(data["Description"]=="None").sum()

0

In [10]:
data.shape

(283, 3)

In [13]:
data.to_csv("Main.csv")